# Clean up remaining ControlMaster sockets on reboot
@reboot rm -f ${HOME}/.ssh/ctl/*:*
# Screen windows for long-running tasks
@reboot sleep 21; screen -S screensaver -d -m ${HOME}/bin/screensaver.py ${HOME}/bin/tour.sh
@reboot sleep 33; screen -S squidmonitr -d -m ${HOME}/bin/squidmon.sh
